.red .ant-card-head {
	border-bottom: 1px solid #eb14144d !important;
	background-color: #f0545410 !important;
}

.ant-card-head {
	background-color: #f0f0f0 !important;
}

.ant-card {
	position: relative;
	top: 0;
	transition: all 0.15s ease-out;
	cursor: pointer;
}

.ant-card:hover {
	position: relative;
	top: -5px;
	box-shadow: 0 12px 15px -5px grey;
}
